body{
	padding-top:70px;
  padding-left:90px;
  padding-right: 20px;
  
	background-color: rgb(100,680,0);
	}

.cat_memes{
	width: 100%;
	z-index: 100;
	border:2px;
	}

	a{
		 text-decoration: none;
text-align: right;
font-size: 20px;
font-family: roboto;
font-weight: 500;
	}
	

a:link {
  color: red;
}

/* visited link */
a:visited {

  color: black;
}



p{
border:2px;
text-align: center;
font-size: 20px;
font-family: roboto;
font-weight: 500;
}

.gridz{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 25px;
}

.containerz{
      width:100%;
       border-radius: 6px;
    }